@font-face {
  font-family: Royal;
  src: url(../fonts/BonheurRoyale-Regular.ttf)
}

@font-face {
  font-family: 'RoyalQueen';
  src: url(../fonts/RoyalQueen.ttf)
}

:root {
  --font1: 'RoyalQueen'
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;

}

body {
  font-size: 100%;
  background: linear-gradient(68.15deg, #3071f2 16%, #5ddcd5 82%);
  font-family: cursive;
}

#cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
  

}

#cabecalho-imagem {
  border-radius: 100%;
  height: 72px;
  margin-left: -80px;
}

#cabecalho-menu {
  display: flex;
  gap: 50px;
}

.cabecalho-menu-logoname {
  font-family: 'RoyalQueen', sans-serif;
  color: black;
  font-weight: 400;
  font-size: 30px;
  margin-left: -250px;
}

.cabecalho-menu-item {
  font-family: 'RoyalQueen', sans-serif;
  color: black;
  font-weight: 400;
  font-size: 20px;
    text-align: center;
  align-items: center;
  align-self: center;
}
#cabecalho-menu-item-login {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0047d5;
  width: 140px;
  height: 60px;
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-weight: 400;
  text-align: center;
  margin-right: -40px;
  font-size:30px
}

#cabecalho-menu-item-register {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3071f2;
  width: 140px;
  height: 60px;
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-weight: 400;
  text-align: center;
  font-size: 30px
}



#conteudo-principal-imagem {
  border-radius: 50%;
  height: 350px;
  width: 350px;
}
#conteudo {
  margin-bottom: 40px;
  border-top: 0.4px solid black;
}

#conteudo-principal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 120px;
}

#conteudo-principal-escrito {
  display:flex; 
  flex-direction: column;
  gap: 30px;

}

#conteudo-principal-escrito-titulo {
  font-family: 'RoyalQueen', cursive;
  font-weight: 400;
  font-size: 64px;

}

#conteudo-principal-escrito-botao {
  background-color: rgb(126, 246, 255);
  width: 180px;
  height: 60px;
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: cursive;
  font-weight: 400;
  font-size: 25px;
}

#conteudo-principal-escrito-botao:hover {
  background-color: rgb(60, 115, 119);
  cursor:pointer;
}

#conteudo-principal-escrito-subtitulo {
  font-weight: 100;
  font-size: 20px;
}

#conteudo-principal-imagem {
  margin-top: 42px;
}

#conteudo-secundario {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 150px;
}

#conteudo-secundario-titulo {
  border-top: 0.4px solid black;
  padding-top: 10px;
  font-family: cursive, sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: black;
  margin-bottom: 16px;
}
.conteudo-secundario-paragrafo {
  font-family: cursive;
  font-weight: 300;
  font-size: 18px;
}

#rodape {
  padding: 32px;
  border-top: 0.4px solid black;

}


#rodape-imagem {
  height: 100px;
  display: block;
  margin: 0 auto;
}



